<div class="box">
    <div class="title">Product Title</div>
    <div class="image"><img src="test.jpg"></div>
    <div class="description">
        <p>small desciption</p>
    </div>
    <div class="actions">
        <button class="add-to-cart">Add to Cart</button>
        <button class="details">Details</button>
    </div>
</div>