@{
    ViewData["Title"] = "Log in to your account";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>Log in to your account</h4>
        </p>

        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"]</span>
            </div>
        }

        <div class="row">
            <div class="col-md-8 offset-2">
                <form>
                    <div class="text-danger"></div>

                    <div class="form-group">
                        <label for="EmailAddress">Email Address</label>
                        <input id="EmailAddress" class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input id="Password" type="password" class="form-control" />
                        <span class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-outline-success float-right" type="submit" value="Log in" />
                        <a class="btn btn-outline-secondary" href="/Movies/Index">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
